<h1>Intro 10</h1>

<%= form_with url: "/new", method: :post do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :hobby, "Hobby" %>
  <%= form.text_field :hobby %>


  <%= form.submit "Submit" %>
<% end %>

<% session[:students].each do |student| %>
  <%= student[0] %>: <%= student[1]%> 
<%end%> <br>


<a href="/">Back to all students</a>

