<h1>Intro 10</h1>

<%= form_with url: "/new", method: :post do |form| %>

  <%= form.label "Name" %>
  <%= form.text_field :name %>

  <%= form.label :hobby, "Hobby" %>
  <%= form.text_field :hobby %>

  <%= form.label :hobby, "Favorite Food" %>
  <%= form.text_field :favorite_food %>

  <%= form.label :hobby, "Favorite Color" %>
  <%= form.text_field :favorite_color %>

  <%= form.submit "Submit" %>
<% end %>


<table>

  <tr>
    <th><%= "Name" %></th>
    <th><%= "Hobby" %></th>
    <th><%= "Favorite Food" %></th>
    <th><%= "Favorite Color" %></th>
    <th><%= "Pokemon" %></th>
    <th><%= "Lucky Number" %></th>
    <th><%= "Birthday" %></th>
  </tr>

  <% Student.all.each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.hobby %></td>
      <td><%= student.favorite_food %></td>
      <td><%= student.favorite_color %></td>
      <td><%= student.pokemon %></td>
      <td><%= student.lucky_number %></td>
      <td><%= student.birthday.strftime("%m %d %Y") %></td>
    </tr>
  <% end %>

</table>

<%= Student.count %> <br>

<%= Student.last.name %><br>

<a href="/">Back to all students</a>





